---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Datacomp.astro";
import "../css/general.css";

const endpoint =
  "https://wvrvzqmqqflajhvaytpl.supabase.co/rest/v1/fremkald_priser?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2cnZ6cW1xcWZsYWpodmF5dHBsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNTA0MjksImV4cCI6MjA4MDkyNjQyOX0.Fvg2ap5vq5HtKijdr2QiXsi_V7SSZUM2YKozBCd8kjw";

const options = {
  method: "GET",
  headers: {
    apikey: key,
  },
};

const data = await fetch(endpoint, options).then((res) => res.json());
---

<Layout>
  <section class="fremkald-side">
    <h1>Prisliste</h1>
    <Card data={data} />
  </section>
</Layout>

<style>
  .fremkald-side {
    font-family: montserrat-r;
    margin: clamp(40px, 5vw, 130px);
    display: flex;
    flex-direction: column;
  }

  section {
    max-width: 1300px;
  }

      @media (max-width: 850px) {
      .fremkald-side {
        margin: auto;
        padding: clamp(10px, 4vw, 40px);
      }
</style>
